* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --primary-color: #F26101;
    --secondary-color: #003354;
    --font: 'Open Sans', sans-serif;
}

body {
    background-image: url("../img/background-search-screens.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}

.wrapper {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 0 auto;
    width: 60vw;
    height: 100vh;
}

main {
    /*  background-color: yellow;  */
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    position: relative;
    overflow: auto;
}

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #fff;
    padding: 10px;
  }
  
  .logo img {
    max-height: 67.5px;
    max-width: 127.5px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 50px;
  }
  
  nav a {
    color: #003354;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    font-family:'Open Sans',  sans-serif;
    font-weight: 400px;
    line-height: 33px;
    font-style: normal;
    font-stretch: condensed;

  }

  nav a:hover {
    text-decoration: none;
    color: #ff7100;
    transform: scale(1.2);
    transition: transform 1.0s ease-in-out;
  }


  .form { 
    display: flex;
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 62px;
    border: 1px solid #ff7100;
    filter: drop-shadow(0px 0px 14px rgba(255, 113, 0, 0.72));
    left: 35%;
    top: 20%;
    z-index: 1;
   justify-content: center;
   align-items: center;
   
  }
  
  .btn_register {
    position: absolute;
    top: 87.5%;
    width: 296.94px;
    height: 40px;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-style: normal;
    background: #003354;
    border-radius: 5px;
    font-family:'Open Sans',  sans-serif;
    font-stretch: condensed;
}

#multipleSelect {
  max-width: 100%;
  border: 1px solid #ff7100;
  border-radius: 5px;
}

/* .btn_verify {
  position: absolute;
  top: 23.5%;
  width: 296.94px;
  height: 56px;
  margin-left: 100px;
  font-size: 28px;
  font-weight: 600;
  line-height: 54px;
  color: #fff;
  font-style: normal;
  background: #003354;
  border-radius: 5px;
  font-family:'Open Sans',  sans-serif;
  font-stretch: condensed;
} */




